<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         log-junit="tests/logs/junit.xml"
         testdox-html="tests/logs/testdox.html">
    <testsuites>
        <testsuite name="QuickServe Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>